<div id="admin_header" ng-controller="adminController">

<div id="header-container" class="site-full">
 
<div id="mobilemenu">
	<a href="#" id="mobile-mainmenu-button" class="ir">Main Menu</a>
          <a href="#" id="mobile-searchbutton" class="ir">Search</a>
	<span><a href="/">ePOLST</a></span>
</div>

<div id="header-wrapper" class="site-full">
	<div id="header" class="site">
	<div id="epolst-logo"></div>            
</div>    
                

<div id="transparentBorder" class="site-full">
		<div id="mainmenu-wrapper">
		           
           
           <img id="spinner" ng-src="resources/js/partials/wpboilerplate/img/spinner.gif" style="display:none;">
             
			
			
			<div id="mainmenu" class="site clearfix">
			
            <ul id="menu-mainmenu" class="nav-menu">
            
              	<li><a href="#/userList" active-page="active" >User Management</a></li>
                <li><a href="#/polstList" active-page="active" >ePOLST Management</a></li>
                <li><a href="#/EMTSList" active-page="active" >EMS/EMT</a></li>
                <li><a href="#/patientList" active-page="active">Patient Management</a></li>
                <li><a href="/epolst/logout" active-page="active">Log Out</a></li>
                </ul>
                <div id="dohLogo"></div>
        	</div>
        </div>
</div><!--end of transparent border div-->
				
</div>
	
	
	
 
 

 


	
	 
	
 

	 