<div id="physician_header" ng-controller="mainController">

<div id="header-container" class="site-full">
<a class="visuallyhidden" href="#content-main" tabindex="1" title="Skip to content">Skip to content</a> 		

<div id="mobilemenu">
	<a href="#" id="mobile-mainmenu-button" class="ir">Main Menu</a>
          <a href="#" id="mobile-searchbutton" class="ir">Search</a>
	<span><a href="/">ePOLST</a></span>
</div>


<div id="transparentBorder" class="site-full">
		<div id="mainmenu-wrapper">
			<div id="mainmenu" class="site clearfix">
            <ul id="menu-mainmenu" class="nav-menu">
                <li><a href="#/polstList" active-page="active" >ePOLST Management</a></li>
                <li><a href="#/patientList" active-page="active">Patient Search</a></li>
              	<li><a href="/epolst/logout" active-page="active" >Log Out</a></li>
                </ul>
                <div id="dohLogo"></div>
        	</div>
        </div>
</div><!--end of transparent border div-->
				
</div>
	
	
	
	
 
 

 


	
</div>	 
	
 

	 